/* ==========================================================================
   Property
   ========================================================================== */
@import "../mixins/fonts";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:500');

$font-family-header: 'Source Sans Pro', sans-serif;
$font-weight-subheader: 300;

/* Status Bar */
.status_bar h1{
    background-color: #ff0000;
    color: #ffffff;
    font-family: $font-family-header;
    span {
        font-weight: $font-weight-subheader;
    }
}

.property {
    border: 1px solid #800080;
    div.infoGroup1{
        img{
            float: left;

        }

        p{
            display: inline;
        }
    }

    div.infoGroup2{


    }
}
